global:
  scrape_interval: 5s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: pushgateway
    honor_labels: true
    static_configs:
      - targets: ["pushgateway:9091"]

remote_write:
  - url: ${GRAFANA_CLOUD_PROM_REMOTE_WRITE_URL}
    basic_auth:
      username: ${GRAFANA_CLOUD_PROM_USERNAME}
      password: ${GRAFANA_CLOUD_PROM_TOKEN}
